/* ServicesSection.css */

.services {
  padding: 20px 0;
  background-color: #f8f8f8;
}

.container {
  width: 100%;
  margin: 0 auto;
}

h2 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
  color: #24416B;
  text-transform: uppercase;
}

.card {
  background-color: #fff;
  border: none;
  border-radius: 8px;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.card-img-services {
  object-fit: cover;
  height: auto;
  width: 100%;
  max-height: 250px;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
}

.card-body {
  padding-top: 20px;
}

.card-title {
  font-size: 24px;
  color: #24416B;
  margin-bottom: 10px;
}

.card-text {
  color: #777;
}

/* New Animation Styles */
.fade-in-up {
  animation: fadeInUp 0.8s ease;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* New Hover Animation */
.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

/* Expanded Content */
.expanded-content {
  display: none;
  /* padding: 20px; */
  background-color: #f8f8f8;
  border-radius: 0 0 8px 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
}

.card.expanded .expanded-content {
  display: block;
}

@media screen and (max-width: 768px) {
 .col-md-4 {
  padding: 5px;
 }
}
