/* HotelMemberships.css */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }
  
  .memberships-header {
    background-color: #24416B;
    color: #fff;
    padding: 20px;
    margin-top: 50px;
    text-align: center;
  }
  
  .memberships-title {
    margin: 0;
  }
  
  .memberships-main {
    padding: 20px;
  }
  
  .memberships-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .membership-card {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .membership-title {
    color: #24416B;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .membership-description {
    color: #333;
    margin: 5px 0;
  }
  
  .expanded-content {
    display: none;
    padding-top: 10px;
  }
  
  .membership-card.expanded .expanded-content {
    display: block;
    animation: fadeInUp 0.8s ease;
  }
  
  .membership-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  }
  