.listContainer {
    display: flex;
    justify-content: center;
    padding-top: 120px;
}

.listWrapper {
    width: 100%;
    padding: 0 1% 0 1%;
    max-width: 1480px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.listSearch {
    flex: 25%;
    background-color: rgb(214, 243, 254);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    position: sticky;
    top: 100px;
    height: 85vh;
    overflow-y: auto;
}

/* .listSearch::-webkit-scrollbar {
    width: 5px;
}

.listSearch::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

.listSearch::-webkit-scrollbar-thumb {
    background-color: #888888;
}

.listSearch::-webkit-scrollbar-thumb:hover {
    background-color: #555555;
} */
/* 
.listSearch::-webkit-scrollbar-button {
    background-color: #f5f5f5;
}

.listSearch::-webkit-scrollbar-button:start:decrement,
.listSearch::-webkit-scrollbar-button:end:increment {
    display: block;
}

.listSearch::-webkit-scrollbar-button:vertical {
    height: 20px;
}

.listSearch::-webkit-scrollbar-button:horizontal {
    width: 20px;
} */


.listResult {
    flex: 50%;
}

.lsTitle {
    color: black;
    font-size: 30px;
    font-family: serif;
    font-weight: bold;
}

.lsItem {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.lsItem>label {
    font-size: 18px;
    color: black;
    font-weight: 500;
}

.lsItem>input {
    height: 30px;
    border: none;
    padding: 5px;
    width: 60%;
}

.lsItem>span {
    width: 60%;
    font-size: 18px;
    color: black;
    font-weight: 500;
    height: 30px;
    background-color: white;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.lsOptionItem {
    display: flex;
    width: 30%;
    justify-content: space-between;
    margin-bottom: 10px;
    color: black;
    font-size: 14px;
}

.lsOptionInput {
    width: 50px;
}

.lsOptions {
    padding: 10px;
}

.lsSearchButton {
    margin-bottom: 20px;
}

.lsSearchButton>button {
    padding: 10px;
    background-color: rgb(12, 174, 228);
    color: black;
    border-radius: 15px;
    border: none;
    width: 25%;
    max-width: 90px;
    font-weight: 500;
    cursor: pointer;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.lsSearchButton>button:hover {
    background-color: rgb(128, 189, 249);
}

/* Sort by */

.sort-wrapper {
    display: flex;
    align-items: center;
    width: 45%;
    max-width: 185px;
    padding: 5px;
    margin: 0 0 20px 30px;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid rgb(151, 143, 143);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.sort-btn {
    cursor: pointer;
    padding: 8px 16px;
    color: #666;
    font-weight: bold;
}

.sort-btn:hover {
    color: #949393;
}

.sort-btn.active {
    color: #000;
}


.sort-btn.vertical-border {
    border-right: 1px solid #b0adad;
}


/* filter */

.filter-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 12rem;
}

.widget {
    padding: 0 1rem;
    margin-bottom: 0.3rem;
}

.widget-title {
    margin-bottom: 0;
    font-size: 1.2rem;
}

.collapse {
    margin-top: 1rem;
}

.widget-body {
    margin-left: 1rem;
}

.custom-checkbox {
    margin-bottom: 0.3rem;
}

.filter-checkbox-list {
    list-style: none;
    padding-left: 0;
}

.filter-checkbox-list li {
    margin-bottom: 0.3rem;
}

.filter-checkbox-list input[type="checkbox"] {
    margin-right: 0.3rem;
}

.sidebar-wrapper {
    display: flex;
    flex-direction: column;
    /* gap: 0.5rem; */
    /* justify-content: space-between; */
}

.popup-btn {
    display: none;
}


/* -----Tablet----------- */
/* ------ Tablet ---------- */
@media (min-width: 431px) and (max-width: 768px) {
    .listWrapper{
        gap: 20px;
    }

    .listSearch{
        flex: 30%;
    }

    .listResult{
        flex: 45%;
    }
}

/* -------Mobile-------- */
@media (max-width: 430px) {
    .listSearch {
        background-color: rgb(214, 243, 254);
        padding: 10px;
        position: fixed;
        z-index: 9999;
        height: 100% !important;
        width: 100%;
        top: 0;
        left: 0;
        /* overflow: auto; */
    }

    .popup-btn {
        font-size: 20px;
        font-weight: 500;
        display: block;
        position: fixed;
        bottom: 50px;
        right: -10px;
        border: none;
        border-radius: 30px 0 0 30px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
        z-index: 99999;
        color: red;
        background-color: rgb(177, 233, 244);
        width: 100px;
        height: 40px;
        -webkit-border-radius: 30px 0 0 30px;
        -moz-border-radius: 30px 0 0 30px;
        -ms-border-radius: 30px 0 0 30px;
        -o-border-radius: 30px 0 0 30px;
    }

    .popup-appear {
        display: block;
    }

    .popup-disappear {
        display: none;
    }

    .listResult {
        flex: 100%;
    }
}