
/* Featured.css */
.featured-slider {
  /* max-width: 1200px; */
  /* width: 100%;
  margin: auto;
  padding: 0 30px 30px 30px; */
}

.featured {
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
  /* gap: 20px; */
  /* Add gap between cards */
}

.container{
  padding: 0;
}
.featuredItem {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
  width: calc(25% - 10px);
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.featuredItem:last-child {
  margin-right: 0;
  /* Remove right margin for the last card in a row */
}

.featuredItem:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  /* Increase the shadow on hover */
}

.slick-slide{
  padding: 0 10px 0 10px;
}
.featuredImg {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.featureTitles {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0 0 10px 10px;
}

.featureTitles h1 {
  margin: 0;
  font-size: 1.5rem;
  color: #fff;
}

.featureTitles h2 {
  margin: 5px 0;
  font-size: 1rem;
  color: #fff;
}

.slick-dots {
  position: static;
  bottom: -20px;
  /* Adjust the position of the dots */
}


.slick-dots li button:before {
  font-size: 12px;
  color: gray;
}

.slick-dots li.slick-active button:before {
  color: #24416B;
}

.slick-prev {
  left: 20px;
  top: 120px;
  z-index: 1;
}

.slick-next {
  right: 20px;
  top: 120px;
  z-index: 1;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .quick-hotel-title {
    font-size: 30px;
  }

  .featuredItem {
    width: 100%;
  }

  .featured-slider {
    padding: 5px;
  }

  .featureTitles {
    top: auto;
    bottom: 0;
    /* Move title to the bottom on mobile */
    border-radius: 10px 10px 0 0;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .featureTitles h1 {
    font-size: 1.3rem;
  }

  .featureTitles h2 {
    font-size: 1rem;
  }
}