
.hero-container {
  width: 100%;
  height: 100vh;
  background-image: url(./hotel.jpg);
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 100px;
}

.hero-container::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: .7;
  z-index: -1;
}

.hero-container h1 {
  width: 100%;
  display: block;
  font-size: 4rem;
  position: relative;
  color: white;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.6) 0px 2px 4px;
}

.description {
  color: white;
  margin: 20px auto;
  font-size: 1.2rem;
  padding: 0 25%;
  text-align: center;
}


@media (max-width:768px) {
  .hero-container {
    height: 100vh;
  }

  .ctn {
    width: 100%;
  }

  .description {
    width: 100%;
    padding: 0;
  }
}
/* quick hotel */

.quick-hotel-title {
  text-align: center;
  color: #24416B;
  font-size: 45px;
  font-family: serif;
  font-weight: bold;
  margin: 20px 0 20px 0;
}