/* MyBookings.css */


/* Bookings Table */
.container-booking {
  max-width: 800px;
  margin: 0 auto;
}

.booking-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.booking-table th,
.booking-table td {
  padding: 12px 16px;
  text-align: left;
}

.booking-table th {
  background-color: #24416B;
  color: #fff;
  font-weight: bold;
}

.booking-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.booking-table tr:hover {
  background-color: #e1e1e1;
}

/* No Bookings Message */
.no-bookings-message {
  text-align: center;
  font-size: 18px;
  margin-top: 30px;
}